<!DOCTYPE html>
<html>
<body>
<div class="bigform">
	<div class="form">
		<h2>Регистрация</h2>

		<div>
			<div class="form-group">
				<label>Введите Логин</label><br/>
				<input [(ngModel)]="login" type="text" class="form_input" placeholder="Логин"/>
				<label *ngIf="_hasLoginError" class="login-error" [textContent]="_loginErrorText"></label>
			</div>
			<div class="form-group">
				<label>Введите пароль</label><br/>
				<input [(ngModel)]="password" class="form_input" placeholder="Введите пароль"/>
				<label *ngIf="_hasPasswordError" class="login-error" [textContent]="_passwordErrorText"></label>
			</div>
			<div class="form-group">
				<label >Повторите пароль</label><br/>
				<input [(ngModel)]="confirmPassword" class="form_input" placeholder="Введите пароль"/>
				<label *ngIf="_hasConfirmPasswordError" class="login-error" [textContent]="_confirmPasswordErrorText"></label>
			</div>
			<div class="form-group">
				<button class="form_button" (click)="tryRegister()">Зарегистрироваться</button>
			</div>

			<div class="form-group">
				<button class="form_button" (click)="moveToSignIn()">Войти в приложение</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>
