<!DOCTYPE html>
<html>
<body>
<div class="chat">
	<div class="chat-header clearfix">
		<div class="row">
			<div class="col-lg-6">
				<img src="https://as2.ftcdn.net/v2/jpg/03/32/59/65/1000_F_332596535_lAdLhf6KzbW6PWXBWeIFTovTii1drkbT.jpg" alt="avatar" class="img">
				<div class="chat-about">
					<h6 class="m-b-0">{{userName}}</h6>
				</div>
				<button class="back-button" (click)="back()">Назад</button>
			</div>
		</div>
	</div>
	<div class="chat-history">
		<ul class="m-b-0">
			<div  *ngFor="let message of messages">
				<li class="clearfix" [class.ismymess]="message.senderId == currentUserId">
					<div class="message-data text-right">
						<span class="message-data-time">{{message.messageTime}}</span>
					</div>
					<div class="message other-message float-right"> {{message.text}}</div>
				</li>
			</div>
		</ul>
	</div>
	<div class="chat-message clearfix">
		<input [(ngModel)]="messageText" class="message-input" placeholder="Enter text here...">
		<button class="button" (click)="sendMessage()">Отправить</button>
	</div>
</div>
</body>
</html>